<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @button.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @button.url %>
</p>

<p>
  <strong>Home user:</strong>
  <%= @button.home_user %>
</p>

<%#= link_to 'Edit', edit_button_path(@button) %> |
<%#= link_to 'Back', buttons_path %>
